.achieve-wrapper{
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	width: 80%;
	height: 100%;
	margin-top: 100px;
	margin-bottom: 100px;

}

.page-title h1{
	font-size: 4rem;
	letter-spacing: 5px;
	color: #fff;
	text-align: center;


}
.achieve-section{
	margin: 10px;
	padding: 30px 30px;
	color: #fff;

	
}
.achieve-section h1{
	font-size: 16px;
}
.achieve-section p{
	letter-spacing: 1px;
	margin: 5px;
	font-size: 18px;
}
.achieve-section h2{
	letter-spacing: 5px; 
}

.py{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.flex-wrap{
	padding: 20px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.achieve-card{
	width: 300px;
	height: 200px;
	color: #fff;
	margin: 10px;
}
.achieve-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
} 
.achieve-footer h1{
    font-size: 25px;
}
.achieve-footer p{
    font-size: 14px;
}
@media screen and (max-width: 960px){
	.achieve-wrapper{
		width: 100%;
	}
	.achieve-section{
		margin: 0;
	}
	.page-title h1{
		font-size: 2rem;
	}
	.wrapper h2{
		font-size: 1rem;
	}
}