video{
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -10;

}

.hero-container{
	background: url('../images/hero-background.jpg') center center/cover no-repeat;
	object-fit: contain;
	color: #fff;

}
.hero-wrapper {
	height: 100vh;
	margin-left: 100px;
	width: 50%;

	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	object-fit: contain;
	

}

.hero-wrapper > h1{
	animation: myname 1.0s ease-out;
	letter-spacing: 3px;
	color: #fff;
	font-size: 80px;
	z-index: 1;

}

.hero-wrapper > h2{
	animation: myname 1.3s ease-out;
	letter-spacing: 4px;
	color: #aaaaaa;
	font-size: 2rem;
	z-index: 1;

}
.hero-wrapper > h3{
	animation: myname 1.5s ease-out;
	letter-spacing: 1px;
	font-size: 25px;
	margin: 10px;
	z-index: 1;

}

.dash{
  margin: 10px 0 10px 0;
  border-top: 10px solid #fff;
  width: 100px;
  z-index: 1;
}
.hero-wrapper > p{
	animation: myname 1.3s ease-out;
	z-index: 1;
	margin-top: 8px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucia Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px; 
	color: #fff;
	word-spacing: 5px;
	letter-spacing: 1px;
}

@keyframes myname {
  from {transform: translateX(10%);}
  to {transform: translateX(0);}
}
.hero-btn{
	margin-top: 32px;
	display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 1;

}
.hero-btns{
	top: 50%;
	right: 30px;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	position: fixed;
	display: flex;
    flex-direction: column;
    z-index: 1;
}
.hero-btns .btn{
	margin: 6px;
}


.fa-play-circle{
	margin-left: 4px;
}

@media screen and (max-width: 960px){
	.hero-wrapper {
		width: 100%;
		margin: 0;
		padding: 90px 50px 50px 50px;
	}
	.hero-wrapper > h1{
		font-size: 60px;
	}


}

@media screen and (max-width: 768px){

	.hero-wrapper > h1{
		font-size: 2rem;
	}
	.hero-wrapper > h2{
		font-size: 1rem;
	}
	.hero-wrapper > h3{
		font-size: 1rem;
	}
	.hero-wrapper > p{
		font-size: 12px;
	}
}

