.tooltip {
  position: relative;
  color: #fff;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-image: linear-gradient(to left, rgb(24, 119, 242, 0), rgb(24, 119, 242, 1));
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 25px 25px;
  position: absolute;
  z-index: 2;
  bottom: 20;
  left: -200%;
  margin-left: -60px;
  opacity: 0;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.089), 0 10px 10px rgba(0, 0, 0, 0.089);
  transform: translateX(30px);
  transition: all 0.4s;
}

.tooltiptext{
  font-size: 18px;

}

.tooltip:hover .tooltiptext {
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}